<br>
<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="serach">Search Username</label>
        <input class="form-control" type="text" name="user" [(ngModel)] = "user" (keyup)="searchUser()">
      </div>
    </form>
  </div>
</div>

<div *ngIf='user'>
  <div class="card  text-black">
    <div class="card-header">
      <h3 class="card-title">{{user.name}}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img src="{{user.avatar_url}}" class="profile-image img-thumbnail .img-fluid" alt="">
          <a href="{{user.html_url}}" target="_blank"class="btn btn-primary btn-block card-link">view profile</a>
        </div>
        <div class="col-md-8">
          <div class="stats">
                <span class="badge badge-pill badge-primary">{{user.public_repos}} Public Repo(s)</span>
                <span class="badge badge-pill badge-success">{{user.public_gists}} Public Gists(s)</span>
                <span class="badge badge-pill badge-info">{{user.followers}} Public Followers(s)</span>
                <span class="badge badge-pill badge-warning">{{user.following}} Public Following(s)</span>
          </div>
          <br>
          <ul class="list-group">
            <li class="list-group-item"><strong>Username: {{user.login}}</strong></li>
            <li class="list-group-item"><strong>Location: {{user.location}}</strong></li>
            <li class="list-group-item"><strong>Email: {{user.email}}</strong></li>
            <li class="list-group-item"><strong>Company: {{user.company}}</strong></li>
            <li class="list-group-item"><strong>Member Since: {{user.created_at}}</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<br>
  <div class="card  text-black">
    <div class="card-header">
      <h3 class="card-title">Repos</h3>
    </div>
    <div class="card-body">
      <div *ngFor="let repo of repos">
          <div class="row">
              <div class="col-md-9">
                <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
                <p>{{repo.description}}</p>
              </div>
              <div class="col-md-3">
                <span class="badge badge-pill badge-primary">{{repo.watchers}} Watchers</span>

                <span class="badge badge-pill badge-success">{{repo.forks}} Forks</span>
              </div>
            </div>
            <hr>
      </div>
    </div>
  </div>
</div>
